/* index.html */

/* header */
header {
    background-color: #fff;
    height: 101.66px;
    display: flex;
    justify-content: space-between;
}

.header-items {
    display: flex;
    align-items: center;
    padding-right: 3%;
}

.header-item {
    margin-left: 65px;
}

.header-item a {
    text-decoration: none;
    color: #000;
}

.header-logoarea {
    width: 300px;
    height: auto;
}

.header_logo {
    width: 100%;
    height: auto;
}

.circle {
    display: none;
}

/* footer */
footer {
    text-align: center;
}

@media screen and (max-width: 768px) {
    .header-items {
        z-index: 10;
        display: none;
    }

    .circle {
        display: block;
        height: 65px;
        width: 63px;
        position: absolute;
        right: 10px;
        top: 10px;
        background: red;
        border-radius: 44px;
    }
    
    .circle:hover {
        display: block;
        height: 500px;
        width: 400px;
        position: absolute;
        right: -200px;
        z-index: 4;
        top: -100px;
        background: #f66;
        border-radius: 50% 50% 50% 70%/50% 50% 70% 60%;
        animation: border-animation 6s infinite linear;
    }


    /* Animation */
    @keyframes border-animation {
      to { transform: rotate(360deg); }
    }
}