/* index.html */

/* header */
header {
    background-color: #fff;
    height: 101.66px;
    display: flex;
    justify-content: space-between;
}
.header-items {
    display: flex;
    align-items: center;
    padding-right: 3%;
}
.header-item {
    margin-left: 65px;
}
.header-item a {
    text-decoration: none;
    color: #000;
}
.header-logoarea {
    width: 300px;
    height: auto;
}
.header_logo {
    width: 100%;
    height: auto;
}
.circle {
    display: none;
}

/* firstview */
.firstview {
    display: flex;
    position: relative;
    height: 600px;
}
.firstview-imagearea {
    width: 40%;
    background: red;
    height: 300px;
    position: absolute;
    top: 100px;
    left: 100px;
}
.firstview-imagearea img {
    width: 100%;
    height: 315px;
}
.firstview-infoarea {
    position: absolute;
    top: 230px;
    right: 200px;
    width: 46%;
    background: blue;
    height: 300px;
}

/* footer */
footer {
    text-align: center;
}

@media screen and (max-width: 768px) {
    /* hewder */
    .header-items {
        z-index: 10;
        display: none;
    }
    .circle {
        display: block;
        height: 65px;
        width: 63px;
        position: absolute;
        right: 10px;
        top: 10px;
        background: #f66;
        border-radius: 44px;
        transition: 0.6s;
    }  
    .circle:hover {
        display: block;
        height: 500px;
        width: 400px;
        position: absolute;
        right: -200px;
        z-index: 4;
        top: -100px;
        background: #f66;
        border-radius: 50% 50% 50% 70%/50% 50% 70% 60%;
        animation: border-animation 6s infinite linear;
        transition: 0.6s;
    }
    /* Animation */
    @keyframes border-animation {
      to { transform: rotate(360deg); }
    }

    /* firstview */
    .firstview-imagearea {
        width: 55%;
        background: red;
        height: 300px;
        position: absolute;
        top: 100px;
        left: 50px;
    }
    .firstview-infoarea {
        position: absolute;
        top: 230px;
        right: 40px;
        width: 46%;
        background: blue;
        height: 300px;
    }
}

@media screen and (max-width: 450px) {
    .firstview {
        flex-direction: column;
    }
    .firstview-imagearea {
        width: 100%;
        background: red;
        height: 300px;
        position: unset;
    }
    .firstview-infoarea {
        position: unset;
        width: 100%;
        background: blue;
        height: 300px;
    }
}